################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/src/WPFDevelopers.Charts/.vs/WPFDevelopers.Charts/v16
/src/WPFDevelopers.Charts/packages/WPFDevelopers.Minimal.3.2.3
/src/WPFDevelopers.Charts/WPFDevelopers.Charts/bin/Debug
/src/WPFDevelopers.Charts/WPFDevelopers.Charts/obj/Debug
/src/WPFDevelopers.Charts/WPFDevelopers.Charts.Samples/bin/Debug
/src/WPFDevelopers.Charts/WPFDevelopers.Charts.Samples/obj/Debug
